<nav class="navbar navbar-expand-sm bg-primary navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand fw-bold text-white" href="{{ url_for('home') }}"
        >Home</a
        >

        <button
                class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarNav"
                aria-controls="navbarNav"
                aria-expanded="false"
                aria-label="Toggle navigation"
        >
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                {% if email %}
                <li class="nav-item">
                    <span class="nav-link text-white"> {{ email }} </span>
                </li>
                <li class="nav-item">
                    <span class="nav-link text-white"> {{ role }} </span>
                </li>
                <li class="nav-item">
                    <a
                            class="nav-link text-white"
                            href="{{ url_for('logout') }}"
                    >Logout</a
                    >
                </li>

                {% if role and role=="admin" %}
                <li class="nav-item">
                    <a
                            class="nav-link text-white"
                            href="{{ url_for('register') }}"
                    >Create User</a
                    >
                </li>
                {% endif %}

                {% else %}
                <li class="nav-item">
                    <a
                            class="nav-link text-white"
                            href="{{ url_for('login') }}"
                    >Login</a
                    >
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>