a {
	text-decoration: none;
}

.flash {
	list-style: none;
	padding: 0;
}

.flash li {
	padding: 0.5rem 0.75rem;
	margin: 0.25rem 0;
	border-radius: 6px;
}

.flash-error {
	background: #ffe3e3;
}

.flash-success {
	background: #e6ffed;
}

.bg-pink {
	background-color: #e91e63;
}

.table-hover tbody tr:hover {
	background-color: #f8f9fa;
	cursor: pointer;
}

.card {
	border-radius: 8px;
}

.cursor-pointer {
	cursor: pointer;
}

/* Patients */
.view_patient.card strong {
	color: #2f2f2f;
}

.view_patient.card {
	background: #ffffff;
}

.steps-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
}

.step-icon {
	text-align: center;
}

.step-line {
	width: 50px;
	height: 3px;
	background: #dee2e6;
	margin: 0 10px;
}

.circle {
	width: 45px;
	height: 45px;
	background: #e9ecef;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: auto;
	font-size: 20px;
	transition: 0.3s ease;
}

.circle.active {
	background: #0d6efd;
	color: white;
	transform: scale(1.1);
}

.animated-card.fade-in {
	animation: fadeIn 0.7s ease;
}

@keyframes fadeIn {
	from {
		opacity: 0;
		transform: translateY(10px);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}
