{% extends "base.html" %} {% block title %}Create New Clinician{% endblock %} {%
block content %}
<div class="row justify-content-center">
	<div class="col-md-6">
		<div class="card shadow-sm">
			<div class="card-body">
				<h4 class="text-center mb-3">Create User</h4>
				<form method="POST" action="{{ url_for('admin.create_user_post') }}">
					<input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
					<div class="row">
						<div class="col-md-6 mb-3">
							<label for="username" class="form-label"
								>Username <span class="text-danger">*</span></label
							>
							<input
								id="username"
								type="text"
								name="username"
								class="form-control"
							/>
						</div>
						<div class="col-md-6 mb-3">
							<label for="full_name" class="form-label"
								>Full Name <span class="text-danger">*</span></label
							>
							<input
								id="full_name"
								type="text"
								name="full_name"
								class="form-control"
							/>
						</div>
					</div>

					<div class="mb-3">
						<label for="role_name" class="form-label"
							>Role Name <span class="text-danger">*</span></label
						>
						<select class="form-select" id="role_name" name="role_name">
							<option value="">-- choose --</option>
							<option value="clinician">Clinician</option>
							<option value="auditor">Auditor</option>
						</select>
					</div>
					<button type="submit" class="btn btn-primary w-100">
						Create User
					</button>
				</form>
			</div>
		</div>
	</div>
</div>
{% endblock %}
