{% extends "base.html" %} {% block title %}Register New User{% endblock %} {%
block content %}
<div class="row justify-content-center">
	<div class="col-md-6">
		<div class="card shadow-sm">
			<div class="card-body">
				<h4 class="text-center mb-3">Register / Invite New User</h4>

				<form method="POST" action="{{ url_for('register_post') }}">
					<div class="row">
						<div class="col-md-6 mb-3">
							<label for="first_name" class="form-label">First Name</label>
							<input
								id="first_name"
								type="text"
								name="first_name"
								class="form-control"
							/>
						</div>
						<div class="col-md-6 mb-3">
							<label for="last_name" class="form-label">Last Name</label>
							<input
								id="last_name"
								type="text"
								name="last_name"
								class="form-control"
							/>
						</div>
					</div>

					<div class="mb-3">
						<label for="email" class="form-label">Email</label>
						<input id="email" name="email" class="form-control" />
					</div>

					<div class="mb-3">
						<label for="role" class="form-label">Role</label>
						<select id="role" name="role" class="form-select">
							<option value="">Select a role</option>
							<option value="nurse">Nurse</option>
							<option value="doctor">Doctor</option>
						</select>
					</div>
					<button type="submit" class="btn btn-primary w-100">
						Register User
					</button>
				</form>
			</div>
		</div>
	</div>
</div>
{% endblock %}
